{% extends "journey/base.html" %}
{% load static %}
{% block title %}Posts{% endblock %}
{% block content %}
    <style>
        img {
            height: 350px;
            object-fit: cover;
        }
    </style>
    <div class="container">
        <div class="row">
            <h2 class="fs-4 fw-bold">{{ post.title }}</h2>
            <h2 class="fs-5 fst-italic">{{ post.author.get_full_name }}</h2>
        </div>
        <div class="row gx-4 row-cols-2 row-cols-sm-1 row-cols-lg-2 row-cols-xl-2 justify-content-right mb-3">
            <div class="col">
                <img class="card-img-top" src="{{ post.image_url }}" alt="image">
            </div>
            <div class="col">
                <p>Visited Places: {{ post.visited_places }}</p>
                <p>Visited Date: {{ post.visited_date }}</p>
                <p>Favorite Place: {{ post.favorite_place }}</p>
                <p>Address: {{ post.address }}</p>
                <p>City: {{ post.city }}</p>
                <p>Postal Code: {{ post.postal_code }}</p>
                <p class="mb-3">Favorite Activity: {{ post.favorite_activity }}</p>
                {% if post.author == user or user.is_superuser %}
                    <a href="{% url 'journey:post_edit' pk=post.pk %}"
                       class="btn btn-warning">Edit</a>
                    <a href="{% url 'journey:post_delete' pk=post.pk %}"
                       onclick="return confirm('Are you sure you want to delete?')"
                       class="btn btn-danger">Delete</a>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <p class="h4">Description</p>
            <p>{{ post.description|safe }}</p>
        </div>
        {% with comments.count as total_comments %}
            <h5>
                {{ total_comments }} comment{{ total_comments|pluralize }}
            </h5>
        {% endwith %}
        {% for comment in comments %}
            <div class="comment">
                <p class="info">
                    Comment {{ forloop.counter }} by {{ comment.name }}
                    {{ comment.created }}
                </p>
                {{ comment.body|safe }}
            </div>
        {% empty %}
            <p>There are no comments yet.</p>
        {% endfor %}
        {% if user.is_authenticated %}
            <h5>Add a new comment</h5>
            <form method="post">
                {{ comment_form.media }}
                {{ comment_form.as_p }}
                {% csrf_token %}
                <p><input type="submit" value="Add comment"></p>
            </form>
        {% endif %}
    </div>
{% endblock %}